body {
  font-family: 'VT323', monospace;
  margin: 30px 0px;
  background-color: black;
  color: #ccc;
}

h2 {
  /* margin: 0; */
  font-size: 1.5em;
  text-align: center;
}

.item {
  /* background-color: black;
  color: white; */
  width: 80px;
  height: 80px;
  margin: 10px;
  /* text-align: center; */
}

.highlighted {
  border: 2px solid #ccc;
}

.collected {
  opacity: 0.2;
}

canvas {
  height: calc(100vh - 60px);
  width: calc((2 / 3) * calc(100vh - 60px));
  margin: 0px 50px;
}

.control button {
  margin: 10px;
}